[Desktop Entry]
Name=Gnome Gmail
GenericName=GMail Web Integration
Comment=Integrate GMail with your desktop
Exec=gnome-gmail %U
Icon=gnome-gmail
Terminal=false
Type=Application
Categories=System;GNOME;GTK;Email;ContactManagement
StartupNotify=true
