# Tests are neutered in preparation for the transition to Viagee
Test-Command: PYTHONPATH=`pwd` echo "python3 -m pytest --ignore=test/test_setup.py"
Depends: @, python3-pytest, python3-mock, python3-gi, python3-distutils,
