Source: gnome-gmail
Maintainer: David Steele <steele@debian.org>
Section: mail
Priority: optional
Build-Depends: dh-python,
               intltool,
               python3,
               python3-setuptools,
               debhelper-compat (= 13),
Standards-Version: 4.1.2
Rules-Requires-Root: no
Vcs-Browser: https://github.com/davesteele/gnome-gmail/tree/debian
Vcs-Git: https://github.com/davesteele/gnome-gmail.git -b debian
Homepage: https://davesteele.github.io/gnome-gmail/

Package: gnome-gmail
Architecture: all
Depends: ${misc:Depends},
         ${python3:Depends},
         python3-gi,
         gir1.2-secret-1,
         gir1.2-gtk-3.0,
         gir1.2-notify-0.7,
         gir1.2-wnck-3.0,
         libnotify (>= 0.8),
Provides: exec<gnome-gmail>,
          mime<x-scheme-handler/mailto>
Description: support for Gmail as the preferred email application in GNOME
 GNOME Gmail integrates the Gmail web interface into the GNOME environment.
 Once installed, Gmail becomes a choice as the default Mail Reader in the GNOME
 Preferred Applications administration application. When selected, a Gmail web
 page will be used whenever an email service is requested.
 .
 Logout to complete the configuration.
